@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';
@import 'variables/_variables';
@import 'sass2/mixin';
@import 'sass2/extend';

*{
    margin: 0;
    padding: 0;
}


.text-center {
    text-align: $alinear-al-centro!important;
}

.no-underline{
    text-decoration: none;
}  
    
.fontlogin {
    font-family: $fuentesecundaria !important;
     color: $black !important;
}

a {
    font-family: $fuentesecundaria;
    color: $black;
}

ul {
    text-decoration: none;
    justify-content: space-evenly;
    width: 100%;
}

li {
    list-style:none
}

p {
    text-decoration: none;
    font-family: $fuentesecundaria;
    color: $black;
}

h1{
    text-decoration: none;
    font-family: $fuentesecundaria;
    font-size:xx-large;
    padding: 20px;
}

h2{
    text-decoration: none;
    font-family: $fuentesecundaria;
    font-size:large;
    padding: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
}

legend {
    text-decoration: none;
    font-family: $fuentesecundaria;
    font-size:xx-large;
    padding: 20px;
}

label {
    text-decoration: none;
    font-family: $fuentesecundaria;
    font-size: medium;
    padding: 5px;
}
