@import 'variables/_variables';
@import 'sass2/_mixin';

header {
    .header {
       @include banner(5px);
    } 

    .logo-contenedor {
        width: 25%;

        .logo {
            width: 200px;
            margin: 40px 20px;
        }
    }

}

