@import 'variables/_colors';
@import 'variables/_fonts';

header {
    .header {
        text-align: center;
        color: $black;
        background: $white;
        font-family: $fuenteprincipal;
        font-size: 12px;
        padding: 2px;
    }

    .logo-contenedor {
        width: 25%;

        .logo {
            width: 200px;
            margin: 40px 20px;
        }
    }

}

