@import 'variables/_variables';


.novedades{
    text-align: $alinear-al-centro;
}

.descuentos{
    text-align: $alinear-al-centro;
    margin-top: 250px;
    transition: margin 1s;
}

/* animacion aparecer lento*/
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.fadeIn {
    margin-top: 0;
}